<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="ZacharyKniebel.Foundation.OutputCaching.ServicesConfigurator, ZacharyKniebel.Foundation.OutputCaching" />
    </services>
    <outputCaching type="ZacharyKniebel.Foundation.OutputCaching.OutputCachingConfiguration, ZacharyKniebel.Foundation.OutputCaching">
      <VarianceRuleListCacheMaxSize>10MB</VarianceRuleListCacheMaxSize>
      <_varianceRuleFolderFieldID>{228A8987-5C5E-4F37-A928-C32A337C2B57}</_varianceRuleFolderFieldID>
    </outputCaching>
    <pipelines>
      <mvc.renderRendering>
        <processor type="ZacharyKniebel.Foundation.OutputCaching.Mvc.Pipelines.Response.RenderRendering.RunCacheKeyVarianceRules, ZacharyKniebel.Foundation.OutputCaching"
                   resolve="true"
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" />
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>
